body {
   background:  whitesmoke;
}
.container {
    background: rgb(255, 255, 255);
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #17a2b8;;
}
#top-row {
    background: #17a2b8;;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#button-div {
    padding: 20px;
}
button {
    margin: 5px;
}
#add-tv-character {
    margin-top:5px;
}
.card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    border: 1px solid #17a2b8;;
}
#tv-character-input {
    border: 1px solid #17a2b8;;
    max-width: 100%;
}
p {
    margin-top: 10px;
    margin-bottom: 5px;
}
img {
    max-width: 90%;
    margin-top: 20px;
}